@font-face {
    font-family: 'League Spartan';
    src: local('League Spartan'), url(../fonts/LeagueSpartan-Black.woff2) format('woff2');
}


.spartan {
    font-family: 'League Spartan', sans-serif;
}

.bobble {
    animation-name: float;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}